.Rproj.user
.Rhistory
.RData
.Ruserdata
medfire.rproj
outputs
rscripts/outs
rscripts/old
inputlyrs/asc
inputlyrs/rdata/climate*
inputlyrs/rdata/land.cover.changes.rdata
inputlyrs/rdata/sdm*
inputlyrs/rdata/wildfires.rdata
inputlyrs/tiff
inputfiles/sources
*.docx
*.tex
