.Rproj.user
.Rhistory
.RData
.Ruserdata
medfire.rproj
outputs
clouding
rscripts/old
plots
inputlyrs/asc
inputlyrs/rdata/clim*
inputlyrs/rdata/land.cover.changes.rdata
inputlyrs/rdata/sdm*
inputlyrs/rdata/wildfires.rdata
inputlyrs/tiff
inputfiles/sources
*.docx
*.tex
*.ini
scenarios.xlsx
*.xlsx
inputlyrs/rdata/fire*
inputlyrs/rdata/wildfires87*
inputlyrs/rdata/dta.cover*
